{% extends "adpet/base_menu.html" %}
{% block content %}

<style>
h1 {
  text-align: center;
}
</style>

<h1>CONTACT US</h1>

<p> If you have a cat or a dog you want to give in adoption, please send us an email with the following data: <p>
<p> <h2>REQUISITES</h2>
    <ul>
        <li>Title you would like to see in the ad</li>
        <li>Dog or cat?</li>
        <li>Gender</li>
        <li>Breed</li>
        <li>Weight</li>
        <li>Age</li>
        <li>Seize</li>
        <li>Vaccinated</li>
        <li>Sterilized?</li>
        <li>Contact Name</li>
        <li>Contact Phone</li>
        <li>Contact Email</li>
        <li>Picture</li>
    </ul>
</p>

<p>After you send the info we will confirm of received by email with a link of your pet. Your name and phone will appear in the webpage</p>

<p><h2>EMAIL</h2></p>
<p class="text-white-50 bg-dark"> <i class="fas fa-envelope-square"></i> adpet@adpet.com </p>

{% endblock %}
