<h1>My apps </h1>
<ol>
    <li><p><a href="/site"> Site - primeros ejercicios </a></p></li>
    <li><p><a href="/polls"> A Polls Application dfa92d8f </a></p></li>
    <li><p><a href="/publi"> Publi - Publishers exercise</a></p></li>
    <li><p><a href="/hello"> Hello - Cookies exercise</a></p></li>
    <li><p><a href="/authz"> Authz - Login examples</a></p></li>
    <li><p><a href="/form"> Form - Form </a><p></li>
    <li><p><a href="/autos"> Autos CRUD - app for cars</a></p></li>
    <li><p><a href="/cats"> Cats CRUD - apps for cats</a></p></li>
    <li><p><a href="/myarts">Articles to exemplify owned rows</a></p></li>
    <li><p><a href="/crispy">Crispy and boring forms</a></p></li>
    <li><p><a href="/ads"> Classified Ads #1 #2 #3 #4 </a></p></li>
    <li><p><a href="/pics"> Pics - Pictures ^_^ </a></p></li>
    <li><p><a href="/unesco"> Unesco - base de datos </a></p></li>
    <li><p><a href="/chat"> Chat - json ^_^ </a></p></li>
    <li><p>Add a <a href="/favicon.ico"> favicon </a> in samples/urls.py and home/static <a href="https://favicon.io/favicon-converter/"> (Make your own) </a></p></li>
    <li><p><a href="/favs"> Favs - A few of my favorite things </a></p></li>
    <li><p><a href="/well"> Well - Searcher (A multi-user blogging system) </a></p></li>
    <li><p><a href="/adpet"> Adpet - Pets in adoption </a></p></li>
    <li><p><a href="/compu"> compu - Computer invenvory </a></p></li>
    <li><p><a href="/admin"> Admin - Admins only </a></p></li>
</ol>

<p>
{% if user.is_authenticated %}
<p>Authenticated as
<pre>
Name: {{ user.get_full_name }}
Email: {{ user.email }}
Id: {{ user.id }}
<!-- https://stackoverflow.com/questions/26879011/check-if-current-user-is-logged-in-using-any-django-social-auth-provider -->
Type: {% if backends.associated %} GitHub {% else %} Local {% endif %}
</pre>
</p>
<p>You can <a href="/accounts/logout">Logout</a></p>
{% else %}
<p>You can <a href="/accounts/login">Login</a> if you like.</p>
{% endif %}
{% if islocal %}
Some of the samples will require a user login to be created.
</p>
<p>
You can play with this code at
<a href="https://samples.dj4e.com" target="_blank">https://samples.dj4e.com</a>.
{% else %}
You
might need an account and password to log in for certain features.  You might try this:
<pre>
Username: dj4e-samples
Password: dj4e_nn_!
</pre>
There is a part of this password that you need to guess.  But if you have done your
homework, it should only take you one guess (instead of 100 guesses).
{% endif %}
</p>

    <p>
        You can access the implementation of some of the later projects at
        <a href="https://projects.dj4e.com/" target="_blank">https:/projects.dj4e.com/</a>.
    </p>
    <p>This sample code is available at
    <a href="https://github.com/csev/dj4e-samples" target="_blank">
    https://github.com/csev/dj4e-samples</a>
    </p>
