<h1>My apps </h1>
<ol>
    <li><p><a href="/site"> Site - primeros ejercicios </a></p></li>
    <li><p><a href="/polls"> A Polls Application dfa92d8f </a></p></li>
    <li><p><a href="/publi"> Publi - Publishers exercise</a></p></li>
    <li><p><a href="/hello"> Hello - Cookies exercise</a></p></li>
    <li><p><a href="/authz"> Authz - Login examples</a></p></li>
    <li><p><a href="/form"> Form - Form </a><p></li>
    <li><p><a href="/autos"> Autos CRUD - app for cars</a></p></li>
    <li><p><a href="/cats"> Cats CRUD - apps for cats</a></p></li>
    <li><p><a href="/admin"> Admin - Admins only</a><p></li>
</ol>
